* {
	padding: 0;
	margin: 0;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	object-fit: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
